#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  /* background:#f8c291; */
}

.swiper-slide {
  font-size: 18px;
  color: #111;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 21px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 41px;
  font-weight: 600;
  margin-top: 18px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
.swiper-slide img {
  max-width: 300px;
   
}
.flexx{
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.btn{
  background-color: tomato;
  padding: 10px 20px;
  border: none;
  margin-top: 15px;
  color: white;
}
.bgggg{
  background-color: blueviolet;
}
.bg2{
  background-color: aquamarine;
}
@media (max-width: 760px) {
  .flexx{
    display: flex;
    flex-direction: column;
     
  }
  .swiper-slide img {
    max-width: 200px;
     
  }
}